.navbar-section{
    margin: auto 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 346px;
    max-width: 1600px;
    max-height: 92px;
    background-color: #FFFFFF;
}

.logo img{
    max-width: 139px;
    min-height: 60px;
}

.links{
    display: flex;
    gap: 32px;
}

.links li{
    list-style: none;
}
.links li a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

.early-access-btn{
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.early-access-btn:hover{
    background-color: #09bd54;
}

#banner{
    background: linear-gradient(rgba(0, 25, 49, 0.8), rgba(0, 25, 49, 0.8)), url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1600x;
    height: 674px;
    padding-bottom: 180px;
}

#banner .main-part{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0px auto 180px auto;
}

.access-open-btn{
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 154px auto 16px auto;
    color: #469165;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    cursor: pointer;

}

.access-open-btn .circle{
    width: 16px;
    height: 16px;
    background-color: #469165;
    border-radius: 50%;
}

.access-open-btn p{
    margin: 0;              
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}

.access-open-btn:hover{
     background-color: #000000;
     color: #b8e05b;
}

#banner h2{
    text-transform: capitalize;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
}

#banner h2:nth-child(1) {
    color: white; 
}

#banner h2:nth-child(2) {
    color: #29c76b 
}

#banner p{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px 670px 32px 670px;
}

#banner .btns{
    display: flex;
    gap: 16px;
    margin: auto;
    cursor: pointer;
}

#banner .btns button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

#banner .btns button:nth-child(1){
    background-color: #30B868;
}

#banner .btns button:nth-child(1):hover{
    color: #30B868;
    background-color: #e7e7e7;
}
#banner .btns button:nth-child(2){
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

#banner .btns button:nth-child(2):hover{
    color: #000000;
    background-color: #FFFFFF;
}

.notes{
    margin: 0 120px;
    display: grid;
    justify-content: center;
}

.note-text{
   text-align: center;
   margin-bottom: 44px;
}

.note-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.note-text p{
    font-size: 16px;
    color: #001931;
}

.cards-section{
    display: flex;
    gap: 24px;
}

.single-card-section{
    width: 322px;
    height: 300px;
    padding: 24px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border: 1px solid white;
}

.single-card-section img{
    width: 32px;
    height: 32px;
    padding: 14px;
    background: #F95555;
    border-radius: 50%;
    margin: 45px 107px 16px 107px;
}

.single-card-section h3{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.single-card-section p{
    width: 274px;
    height: 40px;
    margin-left: 5px;
}

#knowledge{
    padding: 120px;
    display: flex;
    align-items: center;
    gap: 60px;
}

#knowledge img .knowledge-image{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.solution-text h6{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #469165;
    margin-bottom: 16px;
    
}

.solution-text h1{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.solution-text .information{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
    
}

.check-circle-text{
    font-size: 16px;
    color: #001931;
    display: grid;
    gap: 16px;
}

.knowledge-distribution{
    margin: 120px;
}

.distribution-area{
    padding: 80px 40px;
    gap: 24px;
    background-color: #F7F6F2;
}

.distribution-area h1{
    color: #001931;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.distribution-area p{
    color: #627382;
    font-size: 16px;
    text-align: center;
    margin: 0 34% 24px;
}

.distribution-area button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 16.5px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    margin: 0 auto;
    cursor: pointer;
}

.distribution-area button:hover{
    background-color: #09bd54;;
}

.distribution-area p{
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
}

footer{
    background-color: #001931;
    padding: 120px;
}

.footer-part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-part1 img{
    width: 139px;
    height: 60px;
}

.social-links{
    display: flex;
    flex-direction: column;   /* Social Links উপরে */
    gap: 12px;
}

.social-links {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-icons{
    display: flex;            
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.social-icons img{
    width: 20px;
    height: 20px;
}

hr{
    opacity: 20%; 
}
.footer-part2{
    margin-top: 40px;
    text-align: center;
}

.footer-part2 p{
    color: #FFFFFF;
    font-size: 16px;
}
