.navbar-section{
    margin: auto 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 346px;
    max-width: 1600px;
    max-height: 92px;
}

.logo img{
    max-width: 139px;
    min-height: 60px;
}

.links{
    display: flex;
    gap: 32px;
}

.links li{
    list-style: none;
}
.links li a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

.early-access-btn{
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.early-access-btn:hover{
    background-color: #09bd54;
}

#banner{
    background: linear-gradient(rgba(0, 25, 49, 0.8), rgba(0, 25, 49, 0.8)), url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1600x;
    height: 674px;
    padding-bottom: 180px;
}

#banner .main-part{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0px auto 180px auto;
}

.access-open-btn{
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 154px auto 16px auto;
    color: #469165;
    width: 229px;
    height: 35px;
    border-radius: 1000px;

}

.access-open-btn .circle{
    width: 16px;
    height: 16px;
    background-color: #469165;
    border-radius: 50%;
}

.access-open-btn p{
    margin: 0;              
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}

#banner h2{
    text-transform: capitalize;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
}

#banner h2:nth-child(1) {
    color: white; 
}

#banner h2:nth-child(2) {
    color: #29c76b 
}

#banner p{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px 670px 32px 670px;
}

#banner .btns{
    display: flex;
    gap: 16px;
    margin: auto;
}

#banner .btns button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}


#banner .btns button:nth-child(1){
    background-color: #30B868;
}
#banner .btns button:nth-child(2){
    background-color: transparent;
    border: 1px solid white;
}